# Colorize
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias ls='ls --color=auto -G'
alias diff='diff --color=auto'

# Pods
alias podspecversion='grep ".version\s*=" *.podspec | egrep -o "[0-9]+(.[0-9]+)*"'

# Xcode
alias xclear_deriveddata='rm -rf ~/Library/Developer/Xcode/DerivedData/'
alias xclear_clang_cache='rm -rf "$(getconf DARWIN_USER_CACHE_DIR)/org.llvm.clang/ModuleCache"'
alias xclear_cache='rm -rf ~/Library/Caches/com.apple.dt.Xcode'
alias xclear='xclear_deriveddata && xclear_cache && xclear_clang_cache'
alias killxcode='ps ax | grep -i xcode | grep -v grep | awk "{ print \$1; }" | tr "\n" " " | xargs kill -9'
